* {
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none !important;
}

.sredinaPocetna {
  height: calc(100vh - 34.4px);
  margin: 0;
}
.sredinaUser {
  min-height: calc(100vh - 34.4px);
  padding-top: 56px;
  margin: 0;
}

/* ------------------------------------------------------------------------------------------------------- Navigacija  */

@media (min-width: 768px) {
  /* Pozicionira svari u navigacji na sredinu */
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .navbar-nav > li {
    display: inline-block;
    float: none;
  }
}

/* ------------------------------------------------------------------------------------------------------- Lijevo  */

.left {
  background-color: #baf4a5;
}

#avocadoGif {
  width: calc(498px - 10%);
  height: calc(373px - 10%);
  position: relative;
  left: 40%;
  transform: translateX(-40%);
  margin-top: -50px;
}

/* ------------------------------------------------------------------------------------------------------- Desno  */

.forma {
  position: relative;
  top: 5%;
  transform: translateY(-5%);
}

.login {
  width: 450px;
}
.login p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px 0;
}

.pocetnaNasov {
  text-align: center;
  margin-bottom: 80px;
}

.vertical-center {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}

/* ------------------------------------------------------------------------------------------------------- Footer  */

.footer-copyright {
  background: #222;
  padding: 5px 0;
}
.footer-copyright p {
  color: #969696;
  margin: 2px 0 0 0;
  font-size: 15px;
}

.footer {
  position: absolute;
  width: 100%;
}

/* ------------------------------------------------------------------------------------------------------- Modal  */

.modal {
  padding-left: 0;
  padding-right: 0 !important;
}
.custom-control-label {
  font-size: 15px;
}

/* -------------------------------------------------------------------------------------------------------   */
/* ------------------------------------------------------------------------------------------------------- Mainly moji_zadaci.html  */
/* -------------------------------------------------------------------------------------------------------   */

.izbornik {
  margin: 50px auto;
  width: 50%;
}
.izbornik_kreirani {
  margin: 50px auto;
  width: 60%;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.noviZadatak p {
  font-size: 20px;
}

.card {
  margin-left: 70px;
  margin-bottom: 40px;
  background-color: #baf4a5;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(71, 71, 71, 1);
}

.card-dovrsen {
  margin-left: 70px;
  margin-bottom: 40px;
  background-color: #3f613d;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(71, 71, 71, 1);
  color: #e4f3ad;
}

.card-dovrsen .zadatak_opis {
  color: black;
}

.zadatak_kreator {
  font-weight: 700;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.zadatak_izvrsitelj {
  font-weight: 700;
  margin-left: 40px;
  margin-top: 15px;
}
.otvori_korisnika {
  font-weight: 700;
}

.zadatak_kreator a,
.zadatak_izvrsitelj a,
.otvori_korisnika a,
.komentar_kreator a {
  color: #ffc107;
  text-shadow: 1.5px 1.5px 1px #222;
  font-style: normal;
}

.zadatak_kreator a:hover,
.zadatak_izvrsitelj a:hover,
.otvori_korisnika a:hover,
.komentar_kreator a:hover {
  font-style: italic;
}

.detalji {
  margin-left: 40px;
}

.zadatak_naziv {
  font-size: 25px;
  text-shadow: 1.5px 1.5px 2px #474747;
}

.zadatak_datumi {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
}
.datum_arrow {
  margin: 0 5px;
}

.zadatak_opis {
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
  height: 90px;
  background-color: white;
  overflow: hidden;
}

.zadatak_button {
  margin-top: 15px;
}

/* -------------------------------------------------------------------------------------------------------   */
/* ------------------------------------------------------------------------------------------------------- Mainly user.html  */
/* -------------------------------------------------------------------------------------------------------   */

.container-big {
  width: 750px;
  margin: 0 auto;
  margin-top: 100px;
  height: auto;
}
.container-small {
  width: 500px;
  float: right;
}
.container-small p {
  font-size: 20px;
}
.container-small span {
  font-weight: 700;
}
.picture {
  display: inline-block;
  width: 200px;
  height: 250px;
}
.picture p {
  font-size: 30px;
  margin-top: 10px;
}
.picture .slika {
  width: 200px;
  height: 200px;
}

/* -------------------------------------------------------------------------------------------------------   */
/* ------------------------------------------------------------------------------------------------------- Mainly postavke.html  */
/* -------------------------------------------------------------------------------------------------------   */

.change_avatar {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 50%;
}
.change_avatar button {
  display: inline-block;
}
.addpicture {
  width: 150px;
  height: 150px;
  display: inline-block;
}
.addpicture a {
  color: #222;
}
.addpicture .slika {
  width: 150px;
  height: 150px;
}

.avatar {
  width: 200px;
  height: 200px;
  padding: 5px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.isipisOdabranogAvatara {
  margin-top: 10px;
}

.container-big-postavke {
  width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  min-height: 750px;
}
.container-small-postavke {
  width: 570px;
  margin: 0 auto;
  margin-top: 30px;
}
.container-small-postavke p {
  font-size: 20px;
}
.container-small-postavke span {
  font-weight: 700;
}
.container-small-postavke button {
  margin-right: 20px;
}

.postavke-bio {
  margin-left: 65px;
}

/* -------------------------------------------------------------------------------------------------------   */
/* ------------------------------------------------------------------------------------------------------- Mainly pregled_zadatka.html  */
/* -------------------------------------------------------------------------------------------------------   */

.container-zadatak,
.container-komentar {
  width: 850px;
  margin: 0 auto;

  margin-top: 40px;
}

.container-zadatak .card,
.container-zadatak .card-dovrsen {
  padding: 50px;
}

.container-zadatak p {
  font-size: 20px;
}
.container-zadatak span {
  font-weight: 700;
}
.komentiranje {
  margin-bottom: 0;
  margin-top: 30px;
}
.komentiranje button {
  margin-right: 10px;
}

.pregled_zadatak_naziv {
  font-size: 35px;
  text-shadow: 1.5px 1.5px 2px #474747;
  margin-bottom: 40px;
}

/* -------------------------------------------------------------------------------------------------------   */
/* ------------------------------------------------------------------------------------------------------- Komentari  */
/* -------------------------------------------------------------------------------------------------------   */

.komentar_opis {
  margin-left: 20px;
  margin-top: 20px;
}

.card_komentar {
  margin-left: 70px;
  margin-bottom: 40px;
  background-color: #a3e08e;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(71, 71, 71, 1);
}
