* {
  font-family: "DM Sans", sans-serif;
}

a {
  color: black;
  text-decoration: none !important;
}

.sredinaPocetna {
  height: calc(100vh - 34.4px);
  margin: 0;
}
.sredinaUser {
  height: calc(100vh - 34.4px);
  padding-top: 56px;
  margin: 0;
  /*background-color: #a3e08e;*/
}

/* ------------------------------------------------------------------------------------------------------- Navigacija  */

@media (min-width: 768px) {
  /* Pozicionira svari u navigacji na sredinu */
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .navbar-nav > li {
    display: inline-block;
    float: none;
  }
}

/* ------------------------------------------------------------------------------------------------------- Lijevo  */

.left {
  background-color: #baf4a5;
}

#avocadoGif {
  width: calc(498px - 10%);
  height: calc(373px - 10%);
  position: relative;
  left: 40%;
  transform: translateX(-40%);
  margin-top: -50px;
}

/* ------------------------------------------------------------------------------------------------------- Desno  */

.forma {
  position: relative;
  top: 5%;
  transform: translateY(-5%);
}

.login {
  width: 450px;
}
.login p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px 0;
}

.pocetnaNasov {
  text-align: center;
  margin-bottom: 80px;
}

.vertical-center {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}

/* ------------------------------------------------------------------------------------------------------- Footer  */

.footer-copyright {
  background: #222;
  padding: 5px 0;
}
.footer-copyright p {
  color: #969696;
  margin: 2px 0 0 0;
  font-size: 15px;
}

/* ------------------------------------------------------------------------------------------------------- Modal  */

.modal {
  padding-left: 0;
  padding-right: 0 !important;
}
.custom-control-label {
  font-size: 15px;
}

/* -------------------------------------------------------------------------------------------------------   */
/* ------------------------------------------------------------------------------------------------------- Mainly moji_zadaci.html  */
/* -------------------------------------------------------------------------------------------------------   */

.izbornik {
  margin: 50px auto;
  width: 50%;
}
.izbornikKreirani {
  margin: 50px auto;
  width: 40%;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.noviZadatak p {
  font-size: 20px;
}

.card {
  margin-left: 60px;
  margin-bottom: 20px;
  background-color: #baf4a5;
  border: 1px solid #3f613d;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(71, 71, 71, 1);
}

.zadatak_kreator {
  font-weight: 700;
}

.zadatak_naziv {
  font-size: 25px;
  text-shadow: 1.5px 1.5px 2px #474747;
}

.zadatak_datumi {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
}
.datum_arrow {
  margin: 0 5px;
}

.zadatak_opis {
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
  height: 90px;
  background-color: white;
  overflow: hidden;
}

.zadatak_izvrsitelj {
  margin-top: 10px;
}

.zadatak_button {
  margin-top: 15px;
}

/* user.html */

.container-big {
  width: 750px;
  margin: 0 auto;
  margin-top: 100px;
  /*background-color: coral;*/
  height: 500px;
}
.container-small {
  width: 500px;
  float: right;
}
.container-small p {
  font-size: 20px;
}
.container-small span {
  font-weight: 700;
}
.picture {
  display: inline-block;
  width: 200px;
  height: 250px;
}
.picture p {
  font-size: 30px;
  margin-top: 10px;
}
.picture .slika {
  width: 200px;
  height: 200px;
}
