<!-- NAVIGACIJA -->
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
  ng-init="CheckLoggedIn();"
>
  <a class="navbar-brand" href="">Avoca To-Do!</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#!moji_zadaci">Moji zadaci</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#!kreirani_zadaci">Kreirani zadaci</a
        ><span class="sr-only">(current)</span>
      </li>
    </ul>
    <div class="dropdown">
      <button
        class="btn btn-warning dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{logiran}}
      </button>
      <div
        class="dropdown-menu dropdown-menu-right text-center"
        aria-labelledby="dropdownMenuButton"
      >
        <a class="dropdown-item" href="#!user">Moj profil</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#!postavke">Postavke</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="" ng-click="Odjava()">Odjava</a>
      </div>
    </div>
  </div>
</nav>

<div class="sredinaUser" ng-init="dohvatiDovrseneKreiraneZadatke()">
  <!-- Izbornik -->
  <div class="izbornik_kreirani d-flex justify-content-sm-around">
    <!-- Trazilica -->
    <div class="d-inline-block form-group has-search w-40">
      <span class="fa fa-search form-control-feedback"></span>
      <input
        type="text"
        class="form-control"
        placeholder="Pretraži.."
        ng-model="inputTekst"
      />
    </div>
    <!-- Novi zadatak -->
    <div class="noviZadatak">
      <button
        type="d-inline-block button"
        class="btn btn-dark"
        ng-click="ModalNoviZadatak()"
      >
        <i class="fa fa-thumb-tack fa-lg"></i>
      </button>
      <p class="d-inline-block">Novi zadatak</p>
    </div>
    <!-- Sortiranje po kreirani/dovrseni -->
    <div class="d-inline-block dropdown">
      <button
        class="btn btn-dark dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Dovršeni zadaci
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="" ng-click="goToKreirani()"
          >Kreirani zadaci</a
        >
      </div>
    </div>
    <!-- Sortiranje -->
    <div class="d-inline-block dropdown">
      <button
        class="btn btn-dark dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Sortiraj po..
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="" ng-click="setOrderProperty('naziv')"
          >Nazivu</a
        >
        <a class="dropdown-item" href="" ng-click="setOrderProperty('kreator')"
          >Kreatoru</a
        >
        <a
          class="dropdown-item"
          href=""
          ng-click="setOrderProperty('datum_pocetka')"
          >Datumu početka</a
        >
        <a
          class="dropdown-item"
          href=""
          ng-click="setOrderProperty('datum_zavrsetka')"
          >Datumu završetka</a
        >
      </div>
    </div>
  </div>

  <!-- Zadaci -->
  <div class="container-fluid">
    <div class="row">
      <article
        class="align-top"
        ng-repeat="zadatak in zadaci  | orderBy:orderProperty | filter: inputTekst "
      >
        <div
          class="text-center card-dovrsen"
          style="width: 25rem; height: 320px;"
        >
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <h5 class="zadatak_naziv text-center">
                {{zadatak.naziv}}
              </h5>
            </div>

            <div class="row justify-content-center">
              <div class="col-10 zadatak_datumi">
                {{zadatak.datum_pocetka | date: 'dd-MM-yyyy' | promjenaFormata}}
                <i class="fa fa-arrow-right datum_arrow" aria-hidden="true"></i>
                {{zadatak.datum_zavrsetka | date: 'dd-MM-yyyy' |
                promjenaFormata}}
              </div>
            </div>

            <div class="row justify-content-start">
              <div class="detalji" style="font-weight: 700;">
                Detalji:
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-10 zadatak_opis">
                {{zadatak.opis | strLimit: 110 }}
              </div>
            </div>

            <div class="row justify-content-start">
              <div class="zadatak_izvrsitelj">
                Izvrsitelj:
                <a href="" ng-click="DohvatiDrugogKorisnika(zadatak.izvrsitelj)"
                  >{{zadatak.izvrsitelj}}</a
                >
              </div>
            </div>

            <div class="row justify-content-end">
              <div class="col-3">
                <a
                  href=""
                  ng-click="OtvoriZasebniKreiraniZadatak(zadatak.id)"
                  class="btn btn-dark"
                >
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<!-- FOOTER -->
<footer class="footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            Copyright Avoca To-Do! © 2020.
            <span class="novired">All rights reserved.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Modal novi zadatak -->
<div class="modal fade" id="modalNoviZadatak">
  <div class="modal-dialog modal-lg" ng-init="DohvatiKorisnike()">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center">Novi zadatak</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div
          class="alert {{alertClass}} alert-dismissible text-center"
          ng-show="alertMsg"
        >
          <a href="" class="close" ng-click="closeMsg()" aria-label="close"
            >&times;</a
          >{{alertMessage}}
        </div>

        <form name="NoviZadatakForm" method="POST">
          <div class="form-group">
            <label for="inputNaziv">Naziv</label>
            <input
              type="text"
              class="form-control"
              id="inputNaziv"
              placeholder="Naziv"
              ng-model="regNaziv"
            />
          </div>

          <div class="form-group">
            <label for="inputDatumPocetka">Datum početka</label>
            <input
              type="date"
              class="form-control"
              id="inputDatumPocetka"
              ng-model="regDatumPocetka"
            />
          </div>

          <div class="form-group">
            <label for="inputDatumZavrsetka">Datum završetka</label>
            <input
              type="date"
              class="form-control"
              id="inputDatumZavrsetka"
              ng-model="regDatumZavrsetka"
            />
          </div>

          <div class="form-group">
            <label for="inputIzvrsitelj">Izvršitelj</label>
            <select
              class="form-control"
              id="inputIzvrsitelj"
              ng-model="regIzvrsitelj"
              style="height: 40px;"
              ng-options="korisnicko_ime for korisnicko_ime in korisnicka_imena"
            >
            </select>
          </div>

          <div class="form-group">
            <label for="inputOpis">Opis</label>
            <input
              type="text"
              class="form-control"
              id="inputOpis"
              placeholder="Opis"
              ng-model="regOpis"
            />
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" ng-click="NoviZadatak()" class="btn btn-dark">
          Dodaj
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Zatvori
        </button>
      </div>
    </div>
  </div>
</div>
