<!-- NAVIGACIJA -->
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
  ng-init="CheckLoggedIn();"
>
  <a class="navbar-brand" href="">Avoca To-Do!</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#!moji_zadaci"
          >Moji zadaci<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!kreirani_zadaci">Kreirani zadaci</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!kalendar">Kalendar</a>
      </li>
    </ul>

    <div class="dropdown">
      <button
        class="btn btn-warning dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        A
      </button>
      <div
        class="dropdown-menu dropdown-menu-right text-center"
        aria-labelledby="dropdownMenuButton"
      >
        <a class="dropdown-item" href="">Moj profil</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="" ng-click="Odjava()">Odjava</a>
      </div>
    </div>
  </div>
</nav>

<div class="sredinaUser" ng-init="dohvatiZadatke()">
  <!-- Izbornik -->
  <div class="izbornik d-flex justify-content-sm-around">
    <!-- Trazilica -->
    <div class="d-inline-block form-group has-search w-40">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Pretraži.." />
    </div>
    <!-- Novi zadatak -->
    <div class="noviZadatak">
      <button type="d-inline-block button" class="btn btn-dark">
        <i class="fa fa-thumb-tack fa-lg"></i>
      </button>
      <p class="d-inline-block">Novi zadatak</p>
    </div>
    <!-- Sortiranje -->
    <div class="d-inline-block dropdown">
      <button
        class="btn btn-dark dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Sortiraj po..
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>

  <!-- Zadaci -->
  <div class="" ng-repeat="zadatak in zadaci">
    <h5>
      {{zadatak.naziv}}
    </h5>
    <p>
      {{zadatak.opis}}
    </p>
  </div>
</div>

<!-- FOOTER -->
<footer class="footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            Copyright Avoca To-Do! © 2020.
            <span class="novired">All rights reserved.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
